.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/img/bg-img.webp");
  background-position: center;
  background-size: cover;
}

.centre {
  width: 600px;
  height: 400px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("/img/bg-2.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0px 10px 20px rgb(241, 196, 239);
  user-select: none;
}
.centre h1 {
  font-size: 20px;
  margin: 20px 0;
}

button {
  background-color: rgb(240, 247, 171);
  /* border: none; */
  border: 2px solid red;
  padding: 5px 15px;
  font-weight: bold;
  margin-right: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  cursor: pointer;
}
